img{
	width: 30%;
	float: left;
	margin: 1.66%;
}
p{

	font-family: orbitron;
	margin-left: 1.66%;
	font-size: 28px;
	font-weight: 1000;
	text-transform: uppercase;
	border-bottom: 5px solid red;
	padding-bottom: 5px;
}